*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{
    background-image: url(body-background.jpg) ;
    background-size:cover; 
}


header{
    background-color: aliceblue;
    color: #333;
}

.nav-bar{
    background-color: aliceblue;
    z-index: 9999;
    position: fixed;
    width: 100%;
    padding: 2px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-size: 25px;
    color: #333;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 1em;
}

.nav-list li{
    position: relative;
}

.nav-list li > a{
    display: block;
    padding: 10px;
}

.nav-list li > a:hover{
    border-radius: 7px;
    background-color: #333;
    color: aliceblue;

}

.drop-down{
    
    top: 100%;
    list-style: none;
    position: absolute;
    background-color: aliceblue;
    width: 100%;
    display: none;
}
.drop-down > li{
    padding: 0.1em;
    display: block;
    text-wrap: wrap;
    text-align: left;
    position: relative;
}

.drop-down  li:hover{
    background-color: #333;
    
}

.drop-down li:hover > a{
    color: #fff;
}

.sub{
    position: absolute;
    left: 100%;
    top: 0;
}

.nav-list li:hover > .drop-down{
    display: block;
    
}

.nav-toggle{
    display: none;
    cursor: pointer;
}



@media screen and (max-width:500px){
    .nav-list{
        position: absolute;
        top:100%;
        left: 0;
        flex-direction: column;
        background-color: aliceblue;
        width: 100%;
        display: none;
    }
    .drop-down{
        position: static;
    }
    .drop-down li{
        padding-left: 5%;
    }
    .nav-toggle{
        display: flex;
    }
}



